extends layout
block content
    .container
        .row.gy-4.gx-lg-3.mt-3 
            // right side content
            .col-lg-7.col-xs-12.mb-3
                .chat_window
                    .top_menu
                        .title ChatBot - Shadowfax
                    // dynamically rendered
                    ul.messages
                    // input
                    .bottom_wrapper
                        input#msg_input(placeholder='Say Hi to begin chat...')
                        #send_button.app_button_1 Send
            // left side content
            .col-lg-5.col-xs-12.mb-3
                .chat_window
                    .top_menu
                        .title NRW
                    .panel-group
                    .leaflet-container.ml-5#map

    // custom scripts
    script(src='/javascripts/chat.js')
    script(src='/javascripts/leaflet.js')
